<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.CertificateMapper">

    <sql id="baseSql">
        SELECT c.id,
        c.user_id,
        c.type,
        c.title,
        c.cost,
        c.time,
        c.invoice,
        c.certificate,
        c.success,
        c.reimbursement,
        c.state,
        u.username,
        u.full_name
         FROM t_certificate c LEFT JOIN t_user u ON u.user_id = c.user_id
         where 1=1
  </sql>

    <select id="pageCertificate" resultType="Certificate" parameterType="Certificate">
        <include refid="baseSql"/>
        <if test="(certificate.state != null and certificate.state !='' ) or certificate.state == 0">
            AND state = #{certificate.state}
        </if>
        <if test="certificate.userId != null and certificate.userId !=''">
            AND user_id = #{certificate.userId}
        </if>
        <if test="certificate.time != null and certificate.time !=''">
            <foreach item="item" index="index" collection="certificate.time.split(',')"  open="AND" separator="AND" >
                <if test="index == 0">
                    time &gt;= '${item}'
                </if>
                <if test="index == 1">
                    time &lt;= '${item}'
                </if>
            </foreach>
        </if>
        <if test="certificate.fullName != null and certificate.fullName !=''">
            AND u.full_name like CONCAT('%',#{certificate.fullName},'%')
        </if>
        <if test="certificate.type != null and certificate.type !=''">
            AND c.type like CONCAT('%',#{certificate.type},'%')
        </if>
        <if test="certificate.certificate != null and certificate.certificate !=''">
            AND c.certificate like CONCAT('%',#{certificate.certificate},'%')
        </if>

    </select>

    <select id="getCertificate" resultType="map" parameterType="string">
        <include refid="baseSql"/>
        <if test="id!=null and id!=''">
            AND id = #{id}
        </if>
    </select>


</mapper>