<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.CopyrightMapper">

    <sql id="baseSql">
        SELECT t.copyright_id,
                t.title,
                t.introduction,
                t.start_time,
                t.end_time,
                t.certificate,
                t.cost,
                t.application_form,
                t.origin_file,
                t.agreement,
                t.cost,
                t.invoice,
                t.item_id,
                t.state,
                t.reimbursement,
                GROUP_CONCAT(m.user_id) userId ,
                GROUP_CONCAT(m.state) user_state,
                i.title
         FROM t_copyright t LEFT JOIN t_members m ON (t.copyright_id=m.task_id)
                            LEFT JOIN t_items i ON  (i.items_id=t.item_id)
         where 1=1
  </sql>

    <select id="pageTask" resultType="Copyright" parameterType="Copyright">
        select DISTINCT t.copyright_id ,t.title,t.introduction,t.start_time,t.end_time,t.certificate,t.application_form,t.origin_file,
        t.agreement,t.cost,t.invoice,t.item_id,t.state,t.reimbursement,i.title AS item_title
         from t_copyright t  LEFT JOIN t_items i on t.item_id = i.items_id

         where 1=1
        <if test="copyright.title != null and copyright.title != ''">
            AND  title like CONCAT('%',#{copyright.title},'%')
        </if>
        <if test="copyright.state != null and copyright.state != ''">
            AND  state = #{copyright.state}
        </if>
        <if test="(copyright.reimbursement != null and copyright.reimbursement != '') or copyright.reimbursement == 0">
            AND  reimbursement =#{copyright.reimbursement}
        </if>
        <if test="copyright.startTime != null and copyright.startTime != ''">
            <foreach item="item" index="index" collection="copyright.startTime.split(',')"  open="AND" separator="AND" >
                <if test="index == 0">
                    start_time &gt;= '${item}'
                </if>
                <if test="index == 1">
                    start_time &lt;= '${item}'
                </if>
            </foreach>
        </if>
        <if test="copyright.endTime != null and copyright.endTime != ''">
            <foreach item="item" index="index" collection="copyright.endTime.split(',')"  open="AND" separator="AND" >
                <if test="index == 0">
                    end_time &gt;= '${item}'
                </if>
                <if test="index == 1">
                    end_time &lt;= '${item}'
                </if>
            </foreach>
        </if>
        <if test="copyright.fullName != null and copyright.fullName != ''">
            AND  u.full_name like CONCAT('%',#{copyright.fullName},'%')
        </if>
        GROUP BY t.copyright_id

    </select>

    <select id="getTask" resultType="map" parameterType="string">
        <include refid="baseSql"/>
        <if test="copyrightId!=null and copyrightId!=''">
            AND copyright_id = #{copyrightId}
        </if>
        GROUP BY copyright_id
    </select>


</mapper>