<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.FundingMapper">

  <sql id="baseSql">
      SELECT  f.id,
            f.verifier_id,
            u1.full_name        as verifierName,
            f.certifier_id,
            u2.full_name        as certifierName,
            f.name,
            f.type,
            f.apply_time,
            f.success_time,
            f.invoice,
            f.cost,
            f.card,
            f.proposer_id,
            u3.full_name        as proposerName,
            f.state,
            f.task_id
    FROM t_funding f
		LEFT JOIN t_user u1 ON (f.verifier_id=u1.user_id)
		LEFT JOIN t_user u2 ON (f.certifier_id=u2.user_id)
		LEFT JOIN t_user u3 ON (f.proposer_id=u3.user_id)
	where 1=1
  </sql>

  <select id="pageFundingDetail" resultType="Funding">
    <include refid="baseSql"/>
      <if test="funding.id != null and funding.id != ''">                         <!--申请id-->
          AND f.id like CONCAT('%',#{funding.id},'%')
      </if>
      <if test="funding.state != null and funding.state != ''">                   <!--申请状态-->
          AND f.state = #{funding.state}
      </if>
      <if test="statrtTime!=null and statrtTime!='' and  endTime!=null and endTime!=''">    <!--时间-->
          AND (
            DATE_FORMAT(f.success_time,'%Y-%m-%d') BETWEEN #{statrtTime} AND #{endTime} OR
            DATE_FORMAT(f.apply_time,'%Y-%m-%d') BETWEEN #{statrtTime} AND #{endTime}
          )
      </if>
      <if test="funding.name != null and funding.name != ''">                              <!--报销名称-->
          AND f.name  like CONCAT('%',#{funding.name},'%')
      </if>
      <if test="funding.verifierName != null and funding.verifierName != ''">              <!--审核人-->
          AND u1.full_name like CONCAT('%',#{funding.verifierName},'%')
      </if>
      <if test="funding.certifierName != null and funding.certifierName != ''">            <!--证明人-->
          AND u2.full_name like CONCAT('%',#{funding.certifierName},'%')
      </if>
      <if test="funding.proposerName != null and funding.proposerName != ''">                  <!--申请人-->
          AND u3.full_name like CONCAT('%',#{funding.proposerName},'%')
      </if>
  </select>


    <select id="queryFundingCostByTime" resultType="Double">
        SELECT IFNULL(SUM(cost), 0) FROM t_funding where state=3
        <if test="statrtTime!=null and statrtTime!='' and  endTime!=null and endTime!=''">
            AND DATE_FORMAT(success_time,'%Y-%m-%d') BETWEEN #{statrtTime} AND #{endTime}
        </if>
        <if test="kind!=null and kind!=''">
            <if test="kind == '1'.toString()">
                AND cost &gt; 0
            </if>
            <if test="kind == '-1'.toString()">
                AND cost &lt; 0
            </if>
        </if>
    </select>

    <select id="selectFundingCountById" parameterType="int" resultType="int">
        select COUNT(*) from t_funding where 1=1
        <if test="fundingId != null and fundingId != ''">
            AND id=#{fundingId}
        </if>
    </select>

    <select id="selectFundingById" parameterType="int" resultType="Funding">
        <include refid="baseSql"/>
        AND f.id=#{fundingId}
    </select>

   <delete id="deleteFundingByFundingid">
    delete from t_funding where state=4
       <foreach collection="array" open=" and id in(" close=")" item="id" separator=",">
              #{id}
       </foreach>
    </delete>

    <update id="updateFundingState" parameterType="Funding">
        update t_funding set state=#{funding.state} where id=#{funding.id}
    </update>

    <update id="updateFundingMessage">
        update t_funding set
            <if test="funding.name != null and funding.name != ''">
                name=#{funding.name},
            </if>
            <if test="funding.applyTime != null and funding.applyTime != ''">
                apply_time=#{funding.applyTime},
            </if>
            <if test="funding.proposerId != null and funding.proposerId != ''">
                proposer_id=#{funding.proposerId},
            </if>
            verifier_id=#{funding.verifierId},
            certifier_id=#{funding.certifierId},
            type=#{funding.type},
            success_time=#{funding.successTime},
            invoice=#{funding.invoice},
            cost=#{funding.cost},
            card=#{funding.card},
            task_id=#{funding.taskId}
        where id=#{funding.id} and state!=3
    </update>

    <insert id="addFunding" parameterType="Funding">
        insert into t_funding(
            name,
            proposer_id,
            apply_time,
            state,
            type,
            success_time,
            invoice,
            cost,
            card,
            task_id
        )values (
            #{funding.name},
            #{funding.proposerId},
            #{funding.applyTime},
            1,
            #{funding.type},
            #{funding.successTime},
            #{funding.invoice},
            #{funding.cost},
            #{funding.card},
            #{funding.taskId}
        )
    </insert>


    <!--根据角色ID查询属性该角色的用户，后面会放到其他mapper文件下面，现在为了方便测试暂时放这里-->
    <select id="selectUserNameByRoleId" resultType="SystemUser">
        select u.user_id,u.full_name from t_user u where u.user_id in (
        select ur.user_id from t_user_role ur where 1=1
        <if test="array != null and array.length > 0">
            <foreach collection="array" open=" and ur.role_id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
        )
    </select>

</mapper>