<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.MatchMapper">

    <sql id="baseSql">
        SELECT t.match_id ,
                t.title,
                t.level,
                t.type,
                t.application_form ,
                t.time,
                t.cost,
                t.state,
                t.invoice,
                t.certificate,
                t.reimbursement,
                a.rank_code ,
                GROUP_CONCAT(m.user_id) userId ,
                GROUP_CONCAT(m.state) userState
  </sql>

    <update id="updateState" parameterType="Match">
        update t_match
        <set>
        <if test="match.state!=null and match.state!=''">
            state = #{match.state}
        </if>
        </set>
        where match_id = #{match.matchId}
    </update>

    <select id="pageTask" resultType="Match" parameterType="Match">
        <include refid="baseSql"/>
        FROM t_match t
        LEFT JOIN t_members m ON t.match_id = m.task_id
        LEFT JOIN t_user u ON u.user_id = m.user_id
        LEFT JOIN t_match_member_awards a ON t.match_id = a.task_id
        where 1=1
        <if test="match.title != null and match.title != ''">
            AND  title like CONCAT('%',#{match.title},'%')
        </if>
        <if test="match.state != null and match.state != ''">
            AND  state = #{match.state}
        </if>
        <if test="(match.reimbursement != null and match.reimbursement != '') or match.reimbursement==0">
            AND  reimbursement =#{match.reimbursement}
        </if>
        <if test="match.time != null and match.time != ''">
            <foreach item="item" index="index" collection="match.time.split(',')"  open="AND" separator="AND" >
                <if test="index == 0">
                    time &gt;= '${item}'
                </if>
                <if test="index == 1">
                    time &lt;= '${item}'
                </if>
            </foreach>
        </if>
        <if test="match.fullName != null and match.fullName != ''">
            AND  (select  GROUP_CONCAT(u1.full_name)
                     from t_user u1
                     LEFT JOIN t_members m1 on u1.user_id = m1.user_id
                     where m1.task_id = t.match_id) like CONCAT('%',#{match.fullName},'%')
        </if>
        <if test="match.chargeFullName != null and match.chargeFullName != ''">
            AND (select  full_name
                    from t_user u1
                    LEFT JOIN t_members m1 on u1.user_id = m1.user_id
                    where m1.task_id = t.match_id
                    and m1.state = 1)  like CONCAT('%',#{match.chargeFullName},'%')
        </if>
        <if test="match.teacherFullName != null and match.teacherFullName != ''">
            AND  (select  full_name
                        from t_user u1
                        LEFT JOIN t_members m1 on u1.user_id = m1.user_id
                        where m1.task_id = t.match_id
                        and m1.state = 3)  like CONCAT('%',#{match.teacherFullName},'%')
        </if>
        <if test="match.level != null and match.level != ''">
            AND t.level = #{match.level}
        </if>
        GROUP BY t.match_id,a.rank_code
    </select>

    <select id="getTask" resultType="Match" parameterType="string">
        <include refid="baseSql"/>
        FROM t_match t
        LEFT JOIN t_members m ON (t.match_id=m.task_id)
        LEFT JOIN t_match_member_awards a ON t.match_id = a.task_id
        where 1=1
        <if test="matchId!=null and matchId!=''">
            AND match_id = #{matchId}
        </if>
        GROUP BY t.match_id,a.rank_code,a.certificate
    </select>

</mapper>