<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.SchoolAssetsRepairMapper">

  <sql id="baseSql">
    SELECT  sar.id,
            sar.repair_date,
            sar.assets_name,
            sa.assets_name AS propertyName,
            sar.repair_price,
            sar.repair_invoice,
            sar.repair_prover_user_info_uuid,
            u.full_name  AS  repairProverUserInfoName
    FROM t_school_assets_repair sar
        LEFT JOIN t_user u ON (u.user_id=sar.repair_prover_user_info_uuid)
        LEFT JOIN t_school_assets sa ON (sa.id=sar.assets_name)
    WHERE 1=1
  </sql>

  <select id="pageschoolAssetsRepairDetail" parameterType="SchoolAssetsRepair" resultType="SchoolAssetsRepair">
    <include refid="baseSql"/>
      <if test="schoolAssetsRepair.id != null and schoolAssetsRepair.id != 0">
          AND sar.id like CONCAT('%',#{schoolAssetsRepair.id},'%')
      </if>
      <if test="statrtTime!=null and statrtTime!='' and  endTime!=null and endTime!=''">    <!--时间-->
          AND DATE_FORMAT(sar.repair_date,'%Y-%m-%d') BETWEEN #{statrtTime} AND #{endTime}
      </if>
      <if test="schoolAssetsRepair.assetsName != null and schoolAssetsRepair.assetsName != ''">  <!--资产id模糊查询-->
          AND sar.assets_name = like CONCAT('%',#{schoolAssetsRepair.assetsName},'%')
      </if>
      <if test="schoolAssetsRepair.propertyName != null and schoolAssetsRepair.propertyName != ''">  <!--资产名字模糊查询-->
          AND sa.assets_name = like CONCAT('%',#{schoolAssetsRepair.propertyName},'%')
      </if>
      <if test="schoolAssetsRepair.repairPrice != null and schoolAssetsRepair.repairPrice != ''">
          AND sar.repair_price=#{schoolAssetsRepair.repairPrice}
      </if>
      <if test="schoolAssetsRepair.repairProverUserInfoUuid != null and schoolAssetsRepair.repairProverUserInfoUuid != ''">
          AND sar.repair_prover_user_info_uuid like CONCAT('%',#{schoolAssetsRepair.repairProverUserInfoUuid},'%')
      </if>
      <if test="schoolAssetsRepair.repairProverUserInfoName != null and schoolAssetsRepair.repairProverUserInfoName != ''">
          AND u.full_name like CONCAT('%',#{schoolAssetsRepair.repairProverUserInfoName},'%')
      </if>
  </select>

    <select id="selectSchoolAssetsRepairIdById" parameterType="int" resultType="SchoolAssetsRepair">
        <include refid="baseSql"/>
        <if test="schoolAssetsRepairId != null and schoolAssetsRepairId != ''">
            AND sar.id=#{schoolAssetsRepairId}
        </if>
    </select>

    <delete id="deleteSchoolAssetsRepairById">
        delete from t_school_assets_repair where
        <if test="array != null and array.length > 0">
            <foreach collection="array" open=" id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
    </delete>

    <insert id="addSchoolAssetsRepair" parameterType="SchoolAssetsRepair">
        insert into t_school_assets_repair(assetsName,repair_prover_user_info_uuid
        <if test="schoolAssetsRepair.repairDate != null and schoolAssetsRepair.repairDate != ''">
            ,repair_date
        </if>
        <if test="schoolAssetsRepair.repairPrice != null and schoolAssetsRepair.repairPrice != ''">
            ,repair_price
        </if>
        <if test="schoolAssetsRepair.repairInvoice != null and schoolAssetsRepair.repairInvoice != ''">
            ,repair_invoice
        </if>
        )values (#{schoolAssetsRepair.assetsName},#{schoolAssetsRepair.repairProverUserInfoUuid}

        <if test="schoolAssetsRepair.repairDate != null and schoolAssetsRepair.repairDate != ''">
            , #{schoolAssetsRepair.repairDate}
        </if>
        <if test="schoolAssetsRepair.repairPrice != null and schoolAssetsRepair.repairPrice != ''">
            , #{schoolAssetsRepair.repairPrice}
        </if>
        <if test="schoolAssetsRepair.repairInvoice != null and schoolAssetsRepair.repairInvoice != ''">
            , #{schoolAssetsRepair.repairInvoice}
        </if>
        )
    </insert>

    <update id="updateSchoolAssetsRepairsMessage" parameterType="SchoolAssetsRepair">
        update t_school_assets_repair
        <trim prefix="set" suffixOverrides=",">
            <if test="schoolAssetsRepair.repairDate != null and schoolAssetsRepair.repairDate != ''">
                repair_date = #{schoolAssetsRepair.repairDate},
            </if>
            <if test="schoolAssetsRepair.assetsName != null and schoolAssetsRepair.assetsName != ''">
                assets_name = #{schoolAssetsRepair.assetsName},
            </if>
            <if test="schoolAssetsRepair.repairPrice != null and schoolAssetsRepair.repairPrice != ''">
                repair_price = #{schoolAssetsRepair.repairPrice},
            </if>
            <if test="schoolAssetsRepair.repairInvoice != null and schoolAssetsRepair.repairInvoice != ''">
                repair_invoice = #{schoolAssetsRepair.repairInvoice},
            </if>
            <if test="schoolAssetsRepair.repairProverUserInfoUuid != null and schoolAssetsRepair.repairProverUserInfoUuid != ''">
                repair_prover_user_info_uuid =  #{schoolAssetsRepair.repairProverUserInfoUuid},
            </if>
        </trim>
        where id=#{schoolAssetsRepair.id}
    </update>

</mapper>