<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunke.core.module.studio.mapper.ThesisMapper">

    <sql id="baseSql">
        SELECT t.thesis_id,
                t.title,
                t.introduction,
                t.paper_type,
                t.time,
                t.url,
                t.cost,
                t.state,
                t.invoice,
                t.reimbursement,
                GROUP_CONCAT(m.user_id) userId ,
                GROUP_CONCAT(m.state) user_state
         FROM t_thesis t LEFT JOIN t_members m ON (t.thesis_id=m.task_id)
         where 1=1
  </sql>

    <select id="pageTask" resultType="Thesis" parameterType="Thesis">
        select thesis_id ,title from t_thesis t LEFT JOIN t_members m ON t.thesis_id = m.task_id
                                                LEFT JOIN t_user u ON u.user_id = m.user_id
        where 1=1
        <if test="thesis.title != null and thesis.title != ''">
            AND  title like CONCAT('%',#{thesis.title},'%')
        </if>
        <if test="thesis.state != null and thesis.state != ''">
            AND  state = #{thesis.state}
        </if>
        <if test="thesis.reimbursement != null and thesis.reimbursement != ''">
            AND  reimbursement =#{thesis.reimbursement}
        </if>
        <if test="thesis.time != null and thesis.time != ''">
            <foreach item="item" index="index" collection="thesis.time.split(',')"  open="AND" separator="AND" >
                <if test="index == 0">
                    time &gt;= '${item}'
                </if>
                <if test="index == 1">
                    time &lt;= '${item}'
                </if>
            </foreach>
        </if>
        <if test="thesis.fullName != null and thesis.fullName != ''">
            AND  u.full_name like CONCAT('%',#{thesis.fullName},'%')
        </if>
        GROUP BY t.thesis_id
    </select>

    <select id="getTask" resultType="map" parameterType="string">
        <include refid="baseSql"/>
        <if test="thesisId!=null and thesisId!=''">
            AND thesis_id = #{thesisId}
        </if>
        GROUP BY thesis_id
    </select>


</mapper>